<h1>Two Faced </h1>
<h2>Your news source that offers both sides of the story</h2>

<h3>Issues <%= link_to "(+)", new_issue_path %></h3>
<p>
  <% @issues.each do |issue| %>
  <li>
    <%= link_to issue.title, issue %>
    <%= issue.description %>
    <%= issue.created_at %>
  </li>
<% end %>
</p>
