<h2><%= @issue.title %><%= link_to " (edit)", edit_issue_path(@issue) %></h2>


<ul>
  <% @issue.headlines.each do |headline| %>
    <li>
      <%= link_to "#{headline.title} (#{headline.description})", issue_headline_path(@issue, headline) %>
    </li>
  <% end %>
</ul>
