<!DOCTYPE html>
<html>
<head>
  <title>TwoFaced</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class= "search">
    <span>Search</span>
    <form class="searchbar" action="/issues" method="get">
      <input type="search" name="q" value="" >
    </form>
    </div>


<%= yield %>

</body>
</html>
